<!DOCTYPE html>
<html>
<head>
	{% if title %}
		<title>{{ title }} | Microblog</title>
	{% else %}
		<title>Welcome to Microblog</title>
	{% endif %}
</head>
<body>
	<div>
		<h2>Microblog | 
			<a href="/">Home</a>
			{% if current_user.is_anonymous %}
			<a href="{{ url_for('login') }}">Login</a>
			{% else %}
			<a href="{{ url_for('logout') }}">Logout</a>
			{% endif %}
		</h2>
		<hr>
		<div>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						{{ message }}
					{% endfor %}
				</ul>
			{% endif %}
			{% endwith %}
		</div>
	</div>
	<div>
		{% block content %}{% endblock %}
	</div>
</body>
</html>